.nav-divide {
  padding: 0 1em;
  border-left: 1px solid #cccccc;
}

.contributors {
}

.contributor {
  display: block;
  min-height: 150px;
  width: 100%;
  padding: 1em 0;
}

.contributor h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

ul.linkouts {
  list-style: none;
}

.contributor img {
  float: left;

  height: 128px;
  width: 128px;

  margin: 1em 1.5em;

  background-color: white;

  border: 2px solid #ececec;
  border-radius: 50%;

  vertical-align: middle;
}

.cc-credit {
  margin-top: 3em;
  font-size: smaller;
}
